In [41]:
str =s="nikhil bommakanti"
print(str.upper())

NIKHIL BOMMAKANTI

In [3]:
str ="NIKHIL BOMMAKANTI"
print(str.lower())

nikhil bommakanti

In [8]:
s="NIKHIL BOMMAKANTI"
s1="nikhi bommakanti"
print(s.islower())
print(s1.islower())

False
True

In [9]:
s="NIKHIL BOMMAKANTI"
s1="nikhi bommakanti"
print(s.isupper())
print(s1.isupper())

True
False

In [14]:
s="221810306039"
s1="nikhil bommakanti"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [22]:
s="221810306039"
s1="nikhilbommakanti"
print(s.isalpha())
print(s1.isalpha())

False
True

In [46]:
    print("nikhil,akash,kanishk,netflix")

nikhil,akash,kanishk,netflix

In [32]:
s="NIKHIL BOMMAKANTI"
s1="    "
print(s.isspace())
print(s1.isspace())

False
True

In [33]:
s="python programming is easy to learn "
print(s.split())
print(s.split("a"))
print(s.split(","))

['python', 'programming', 'is', 'easy', 'to', 'learn']
['python progr', 'mming is e', 'sy to le', 'rn ']
['python programming is easy to learn ']

In [37]:
s="python"
lst=list(s)
print(lst)

['p', 'y', 't', 'h', 'o', 'n']

In [43]:
s="python programming"
print(s)

python programming

In [44]:
t1=("python","programming",1989,2019,"machine learning","A1")
print("t1[0]=",t1[0])
print("t1[-1]",t1[-1])
print("t1[1:3]",t1[1:3])

t1[0]= python
t1[-1] A1
t1[1:3] ('programming', 1989)

In [45]:
t1=("python","programming",1989,2019,"machine learning","A1")
t2=1,2,3,4,5
print(t1)
print(t2)

('python', 'programming', 1989, 2019, 'machine learning', 'A1')
(1, 2, 3, 4, 5)

In [58]:
t1=("nikhil","18","nikhilbommakanti2001@gmail.com","8919249958","H.NO:9-1-46/a/1,social welfare colony,hyderabad,near water works departmwnt")
print("name:",t1[0])
print("age:",t1[1])
print("email id:",t1[2])
print("mobile number:",t1[3])
print("address:",t1[4])

name: nikhil
age: 18
email id: nikhilbommakanti2001@gmail.com
mobile number: 8919249958
address: H.NO:9-1-46/a/1,social welfare colony,hyderabad,near water works departmwnt

In [72]:
t1={"name":"nikhil","age":18,"email id":"nikhilbommakanti2001@gmail.com","mobile number":8919249958}
t2=t1.copy
print(t1)
print(t2)
t1['address']="hyderabad"
print(t1)
print(t2)

{'name': 'nikhil', 'age': 18, 'email id': 'nikhilbommakanti2001@gmail.com', 'mobile number': 8919249958}
<built-in method copy of dict object at 0x03F7B5D0>
{'name': 'nikhil', 'age': 18, 'email id': 'nikhilbommakanti2001@gmail.com', 'mobile number': 8919249958, 'address': 'hyderabad'}
<built-in method copy of dict object at 0x03F7B5D0>

In [16]:
contacts={}
def addcontact(name,phone):
    #verify that the contact doesnt already exist
    if name not in contacts:
        contacts[name]=phone
        print("contact %s added"%name)
    return
addcontact("akash",1)
addcontact("netflix",100)
addcontact("kanni",0)
addcontact("nikhil",8919249958)

contact akash added
contact netflix added
contact kanni added
contact nikhil added

In [19]:
# search to a particular contact from contact list
def searchcontact(name):
        if name in contacts:
            print(name," : ",contacts[name])
        else:
            print(" %s does not exist"%name)
        return 
searchcontact("akash")
searchcontact("netflix")
searchcontact("kanni") 
searchcontact("nikhil")

akash  :  1
netflix  :  100
kanni  :  0
nikhil  :  8919249958

{'akash': 1, 'netflix': 100, 'kanni': 0, 'nikhil': 8919249958}

In [20]:
def importcontacts(n):
    n.update(n)
    print(len(n.keys()),"Contacts added Succesfully")
    return n
n= {'Dinesh':8008001,'Ajay': 910000}
importcontacts(n)

2 Contacts added Succesfully

{'Dinesh': 8008001, 'Ajay': 910000}

In [21]:
## Delete contacts from list
def deleteContact(name):
    if name in n:
        del n[name]
        print(name,"is deleted in contacts")
    else:
        print(name,"is not exists in contacts")
    return n
deleteContact("Dinesh")
deleteContact("Mann")

Dinesh is deleted in contacts
Mann is not exists in contacts

{'Ajay': 910000}

In [22]:
##modify the Contacts
def updaten(name,phone):
    if name in n:
        n[name]=phone
        print(name," :Update with new phone number")
    else:
        print(name," :not exists in contacts")
    return n
updaten("Mahesh",9100080002)
updaten("human",8008001)

Mahesh  :not exists in contacts
human  :not exists in contacts

{'Ajay': 910000}